# Docker Compose Configuration

# Web
WEB_PORT=6060
WEB_SRC_FOLDER=./src/web/data
APP_KEY=

# MariaDB (development only - not used in production)
DB_ROOT_PASSWORD=rootsecret
DB_DATABASE=fatimaproject
DB_USERNAME=fatimaproject
DB_PASSWORD=secret
DB_PORT=3306
